{% extends "index" %}

{% block extraJS %}{% endblock %}

{% block pageTitle %}
	<title>{{siteName | split(' ')[0] }}
		@
		{{entry.title}}</title>
{% endblock %}

{% block body %}
	<section class="bg-primary main-padding" id="main-section">
		<div class="container pt-5 pb-5">
			<div class="row justify-content-center fullheight-element">
				<div class="col-lg-7">
					{% include('chunks/contactNav') %}
					<div>
						<a class="btn btn-outline-light" href="{{siteUrl ~ 'career'}}">
							<i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Back to Career</a>
						<a class="btn btn-outline-light" href="{{siteUrl}}">
							<i class="fa fa-home"></i>&nbsp;&nbsp;Home</a>
						<a class="btn btn-outline-light" href="{{siteUrl ~ 'projects'}}">
							<i class="fas fa-project-diagram"></i>&nbsp;&nbsp;Projects</a>
						<a class="btn btn-outline-light" href="{{siteUrl ~ 'skills'}}">
							<i class="far fa-star"></i>&nbsp;&nbsp;Skills</a>
					</div>
					<div>
						<hr>
						{% if 'mostlikelykevin.com' in entry.employerLink %}
							{% set target = '' %}
						{% else %}
							{% set target = '_blank' %}
						{% endif %}
						<h3>
							<span>
								<i class="fa fa-bullseye"></i>
							</span>&nbsp;&nbsp;<a href="{{entry.employerLink | default('') }}" target="{{target}}">{{entry.title}}</a>
						</h3>
						{% if entry.employedHere == true %}
							{% set dateEnd = 'Present' %}
						{% else %}
							{% set dateEnd = entry.endDate | date('M Y') %}
						{% endif %}
						<p style="margin-left:2.85em;">
							<strong>{{entry.startDate | date('M Y') }}
								-
								{{dateEnd}}</strong>
						</p>
						<hr class="half-hr">
						<ul>
							{% for position in entry.positionsHeld.orderBy('dateStarted desc').all() %}
								<li>
									<p class="mb-1">
										<strong>{{position.jobTitle}}</strong>
									</p>
									{% if position.currentPosition == true %}
										{% set dateEnd = 'Present' %}
									{% else %}
										{% set dateEnd = position.dateEnded | date('M Y') %}
									{% endif %}
									<p class="mb-1">{{position.dateStarted | date('M Y') }}
										-
										{{dateEnd}}</p>
									<p>
										<small>{{position.jobDescription}}</small>
									</p>
								</li>
							{% endfor %}
						</ul>
					</div>
					<div>
						{% set relatedProjects = craft.entries.section('projects').relatedTo(entry).all() %}
						{% if relatedProjects != null %}
							<hr>
							<h4>Projects for this Employer</h4>
							{% for project in relatedProjects %}
								<div>
									<hr>
									<h6><i class="fa fa-project-diagram"></i>&nbsp;&nbsp;{{project.title}} — {{project.dateCompleted | date('M Y')}}</h6>
									<div style="line-height:2.25em;">
										<span tag-item>
											<i class="fas fa-tags"></i>
										</span>
										{% for skill in project.skillsUsed.all() %}
											<a class="tag-item" href="{{skill.url}}">{{skill.title}}</a>
										{% endfor %}
									</div>
									<p style="margin-left:1.85em;" class="text-truncate mb-2 mt-2">{{project.projectDescription | slice(0,200) | striptags}}</p>
									<p style="margin-left:1.6em;"><a class="btn btn-outline-light" href="{{project.url}}"><i class="fa fa-search"></i>&nbsp;&nbsp;Learn More</a></p>
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
