{% extends 'index' %}

{% block pageTitle %}
	<title>Projects w/
		{{category.title}}
		—
		{{siteName}}</title>
{% endblock %}

{% block extraJS %}{% endblock %}

{% block body %}
	<section class="bg-primary main-padding" id="main-section">
		<div class="container">
			<div class="row justify-content-center align-items-center fullheight-element">
				<div class="col-xl-8">
					<h3>Projects using
						{{category.title}}</h3>
					<hr>
					{% include('chunks/contactNav') %}
					<div>
						<a class="btn btn-outline-light" href="{{siteUrl ~ 'skills'}}">
							<i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Back to Skills</a>
						<a class="btn btn-outline-light" href="{{siteUrl}}">
							<i class="fa fa-home"></i>&nbsp;&nbsp;Home</a>
						<a class="btn btn-outline-light" href="{{siteUrl ~ 'career'}}">
							<i class="fa fa-briefcase"></i>&nbsp;&nbsp;Career</a>
						<a class="btn btn-outline-light" href="{{siteUrl ~ 'projects'}}">
							<i class="fas fa-project-diagram"></i>&nbsp;&nbsp;Projects</a>
						<a class="btn btn-outline-light" href="{{siteUrl ~ 'press'}}">
							<i class="far fa-newspaper"></i>&nbsp;&nbsp;Press</a>
					</div>
					<hr>
					{% set catRelation = craft.entries.section('projects').relatedTo(category) %}
					{% if catRelation.count() > 0 %}
						{% for project in catRelation.all() %}
							<div class="row justify-content-center align-items-center mt-5">
								<div class="col-lg-5">
									<a href="{{project.url}}"><img class="img-fluid rounded shadow project-img-feature" src="{{project.projectFeaturedImage.one().getUrl({mode:'crop',width:'720',height:'480',format:'png'})}}"></a>
								</div>
								<div class="col-lg-7">
									<div style="font-size:12px;margin-bottom:1em;"></div>
									<div style="line-height:2.25em;">
										<span tag-item>
											<i class="fas fa-tags"></i>
										</span>
										{% for skill in project.skillsUsed.all() %}
											<a class="tag-item" href="{{skill.url}}">{{skill.title}}</a>
										{% endfor %}
									</div>
									<h2 class="mt-2">{{project.title}}</h2>
									<h6>{{project.dateCompleted | date('M Y') }}
										{{'for ' ~ project.projectEmployer.one().title | default('practice')}}</h6>
									<hr>
									<p class="text-truncate">{{project.projectDescription | slice(0,200) | striptags() }}</p>
									<a class="btn btn-outline-light" href="{{project.url}}">
										<i class="fa fa-search"></i>&nbsp;&nbsp;Learn More</a>
								</div>
							</div>
						{% endfor %}
					{% else %}
						<h3 class="mt-4 text-center">No Projects Associated with this Skill Yet</h3>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
